body {
  background-color: #f3f3f3;
}

header {
  background-color: #cfcfcf;
  text-align: center;
  height: 70px;
  padding: 4px;
  border-radius: 22px;
}

h2 {
  background-color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 30px;
}
a {
  text-decoration: none;
  color: #52daec;
}

img {
  width: 250px;
  height: 280px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    ". item-1 item-2 item-3 ."
    ". item-4 item-5 item-6 ."
}

#item-1 {
  grid-area: item-1;
}

#item-2 {
  grid-area: item-2;
}

#item-3 {
  grid-area: item-3;
}

#item-4 {
  grid-area: item-4;
}

#item-5 {
  grid-area: item-5;
}

#item-6 {
  grid-area: item-6;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "item-1"
    "item-2"
    "item-3"
    "item-4"
    "item-5"
    "item-6"
  }
}