header {
  background-color: #b1b1b1;
  text-align: center;
  height: 70px;
  padding: 4px;
}

img {
  width: 250px;
  /* height: auto; */
}
/* 
body {
  display: grid;
  grid-template-columns: 1fr, 2fr, 2fr, 2fr, 1fr;
  grid-template-rows: 350px, 350px;
} */

